.box {
  width: 100%;
  height: max-content;

  .password {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    width: 100%;

    &_error {
      height: 7rem;
    }

    &_input {
      width: 100%;
      position: absolute;
    }

    .eye {
      position: absolute;
      margin-right: 1.6rem;
      cursor: pointer;
      height: 2.4rem;
      width: 2.4rem;
      top: 1.2rem;
      background-color: white;
    }
  }

  .tooltip {
    position: absolute;
    z-index: var(--level_2);
    top: 7.7rem;
  }
}
